server side/Node Red RSSI Flow.json
[{"id":"a137210a.0ef478","type":"tab","label":"RSSI Flow","disabled":false,"info":""},{"id":"4ecfb9eb.9a5c2","type":"mqtt in","z":"a137210a.0ef478","name":"","topic":"esp32/rssi/json","qos":"1","datatype":"auto","broker":"10e78a89.5b4fd5","x":160,"y":320,"wires":[["5a245342.7c81d4"]]},{"id":"5a245342.7c81d4","type":"json","z":"a137210a.0ef478","name":"","property":"payload","action":"","pretty":false,"x":330,"y":320,"wires":[["8e9bc76c.9f8f8"]]},{"id":"8e9bc76c.9f8f8","type":"function","z":"a137210a.0ef478","name":"","func":"rssi1 = msg.payload.Client_1.rssi1;\nrssi2 = msg.payload.Client_1.rssi2;\nrssi3 = msg.payload.Client_1.rssi3;\nrssi4 = msg.payload.Client_1.rssi4;\nmsg.payload = {\"rssi1\":rssi1, \"rssi2\":rssi2, \"rssi3\":rssi3, \"rssi4\":rssi4};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":320,"wires":[["c60fde8c.aaa77","9d301422.fb5918"]]},{"id":"c60fde8c.aaa77","type":"debug","z":"a137210a.0ef478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":380,"wires":[]},{"id":"9d301422.fb5918","type":"influxdb out","z":"a137210a.0ef478","influxdb":"8d72bf58.3a01b","name":"RSSI","measurement":"esp32/rssi/json","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":320,"wires":[]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"MQTT_Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8d72bf58.3a01b","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"sensors","name":"Sensors","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]